<div class="p-layout bg-neutral copyright">
  <footer class="footer items-center py-4 text-neutral-content">
    <div class="items-center grid-flow-col">
      <p>Copyright © Ali Abdul Wahid 2022 - All right reserved</p>
    </div> 
    <div class="grid-flow-col gap-4 md:place-self-center md:justify-self-end social-media">
      <a aria-label="Copyright" class="pointer" href="/#">
        <img loading="lazy" src="assets/svg/youtube/youtube.svg" alt="copyright">
      </a> 
      <a aria-label="Copyright" class="pointer" href="/#">
        <img loading="lazy" src="assets/svg/instagram/instagram.svg" alt="copyright">
      </a> 
      <a aria-label="Copyright" class="pointer" href="/#">
        <img loading="lazy" src="assets/svg/facebook/facebook.svg" alt="copyright">
      </a> 
    </div>
  </footer>
</div>
