<div class="bg-gray space-pages bg-image">
  <div class="bg-overlay"></div>
  <div class="p-layout header flex flex-col items-center">
    <div class="text-2xl font-bold">
      QnA
    </div>
    <div class="mt-4">
      <app-breadcrumb></app-breadcrumb>
    </div>
  </div>
</div>

<div class="p-layout">
  <div class="flex flex-col w-full mt-10">
    <div class="flex items-center justify-center">
      <app-tab [tabs]="tabs" [(activeIndex)]="tabActive" [size]="size.lg" [isBordered]="true" [isBordered]="true">
      </app-tab>
    </div>

    <ng-container *ngIf="tabActive === 0">
      <div class="w-full">
        <div class="w-full flex items-center justify-center">
          <div class="faq mr-6">
            <img loading="lazy" src="assets/svg/faq/FAQs-bro.svg" alt="faq">
          </div>
        </div>
        <div class="w-full">
          Frequently Asked Questions
        </div>
        <div class="w-full mt-4 mb-4">
          <p-dropdown [options]="(groups$ | async)!" [(ngModel)]="topic" (ngModelChange)="onFilter()" styleClass="p-column-filter"
            placeholder="Select a Topic" [showClear]="true">
            <ng-template let-option pTemplate="item">
              <span [class]="'customer-badge status-' + option">{{ option }}</span>
            </ng-template>
          </p-dropdown>
        </div>
        <div class="w-full">
          <input pInputText type="text" placeholder="Cari di sini..." [(ngModel)]="search" (ngModelChange)="onFilter()"
            style="width: 100%;" required class="p-column-filter">
        </div>

        <div class="my-4 flex flex-col flex-wrap gap-2">
          <app-accordion [datas]="(qnas$ | async)!" [(activeIndex)]="activeIndex"></app-accordion>
        </div>

        <ng-container *ngIf="(qnas$ | async)!.length < (qnasAllTemp$ | async)!.length">
          <div class="items-center flex justify-center mt-4">
            <app-button [isRounded]="true" [title]="'Load More'" (callback)="onLoadMore()" [color]="color.primary"
              [size]="size.md"></app-button>
          </div>
        </ng-container>

        <div class="items-center flex justify-center mt-4">
          {{ (qnas$ | async)!.length }}/{{ (qnasAllTemp$ | async)!.length }} Question
        </div>

        <div class="mt-4" *ngIf="(qnas$ | async)!.length === 0 || !(qnas$ | async)!">
          <div class="items-center flex justify-center">
            No Question found
          </div>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="tabActive === 1">
      <div class="flex flex-col items-center gap-4 justify-center">
        <div class="mt-4 mb-4 flex flex-col items-start w-full" style="max-width: 400px;">
          <div class="font-bold">
            Topic:
          </div>
          <div class="w-full">
            <p-dropdown [options]="(groups$ | async)!" [(ngModel)]="qna.topic" styleClass="p-column-filter full"
              placeholder="Select a Topic" [showClear]="false">
              <ng-template let-option pTemplate="item">
                <span [class]="'customer-badge status-' + option">{{ option }}</span>
              </ng-template>
            </p-dropdown>
          </div>
        </div>
        <div class="mb-4 flex flex-col items-start w-full" style="max-width: 400px;">
          <div class="font-bold">
            Question:
          </div>
          <div class="w-full">
            <input pInputText type="text" placeholder="Input Question" [(ngModel)]="qna.question" style="width: 100%;"
              required class="p-column-filter">
          </div>
        </div>
      </div>
      <div class="flex items-center justify-center">
        <app-button [isRounded]="true" [title]="'Submit'" (callback)="submit()" [color]="color.primary" [isDisabled]="!qna.topic || !qna.question"
          [size]="size.md"></app-button>
      </div>
    </ng-container>
  </div>
</div>

<div class="mb-8"></div>
